<div ngbAccordion #accordion="ngbAccordion">
	<div ngbAccordionItem="first">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Exemplos de NgIf</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					<app-diretiva-ngif></app-diretiva-ngif>
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem="second">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Exemplos de NgFor</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					<app-diretiva-ngfor></app-diretiva-ngfor>
				</ng-template>
			</div>
		</div>
	</div>
</div>

<hr />
